@font-face {
    font-family: "Avenir-Black";
    src: url("../../assets/fonts/Avenir-Black.otf");
}

@font-face {
    font-family: "Avenir-Book";
    src: url("../../assets/fonts/Avenir-Book.otf");
}

@font-face {
    font-family: "Avenir-Roman";
    src: url("../../assets/fonts/Avenir-Roman.otf");
}

@font-face {
    font-family: "LeGrandBold-Regular";
    src: url("../../assets/fonts/LeGrandBold-Regular.otf");
}

@font-face {
    font-family: "LeGrandBold-Regular";
    src: url("../../assets/fonts/LeGrandCapital-Regular.otf");
}

@font-face {
    font-family: "LeGrandCapital-Regular";
    src: url("../../assets/fonts/LeGrandCapital-Regular.otf");
}

@font-face {
    font-family: "LeGrandItalic-Regular";
    src: url("../../assets/fonts/LeGrandItalic-Regular.otf");
}

@font-face {
    font-family: "LeGrandLigatures-Regular";
    src: url("../../assets/fonts/LeGrandLigatures-Regular.otf");
}

@font-face {
    font-family: "LeGrandRegular-Regular";
    src: url("../../assets/fonts/LeGrandRegular-Regular.otf");
}

@font-face {
    font-family: "Saudagar";
    src: url("../../assets/fonts/Saudagar.ttf");
}