.about_us_img {
    // &::before {
    //     content: "";
    //     height: inherit;
    //     width: inherit;
    // }
}

.about_us {
    & .landing_lux_wrapper {
        height: 100vh;
    }
    & .landing_wrapper_svg {
        &::before {
            content: "";
            height: 100vh;
            width: 100vw;
            position: absolute;
            background-color: #140c0c4d;
        }
    }
    &_container {
        height: 70vh;
        &_wrapper {
            display: flex;
            align-items: center;
            justify-content: space-around;
            height: inherit;
            &_sect_1_img::after {
                border: 1px solid #ecae93;
                content: "";
                position: absolute;
                height: 56vh;
                display: flex;
                border-start-end-radius: 22rem;
                width: 48vh;
                left: 16.5%;
                margin-top: 6%;
            }
            & div {
                height: inherit;
                display: inherit;
                & img {
                    border-start-end-radius: 27rem;
                    padding: 7rem;
                    width: 57rem;
                    position: relative;
                }
            }
        }
    }
}